
{% block content %}
<style>
 table {
    border: 8px outset;
    border-radius: 10px;
    border-spacing: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
 }
 th,
 td {
    padding: 5px;
    border: 1px solid;
 }
</style>
    <body>
        
        <h2 style="text-align:center"> Información </h2>
        <table align="center" style="margin: 0px auto;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Pais</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            {% for item in datos %}
            <tbody>
                <tr>
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.ciudad}}</td>
                    <td>{{item.pais}}</td>
                    <td><a href="/actualizar/{{item.pk}}">Actualizar</a></td>
                    <td><a href="/eliminar/{{item.pk}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <div class="alert alert-danger" role="alert">
            ¿Informacion de los laboratorios?
        </div>
        <p>
            <a href="/agregar/">Agregar nuevo registro</a>
        </p>
        <p>
            <a href="/">Volver a Inicio</a>
        </p>
    </body>
{%  endblock %}